@import url(https://cdn.linearicons.com/free/1.0.0/icon-font.min.css);
@import url('https://fonts.googleapis.com/css2?family=Days+One&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
:root{
  --background: #0A0521;
  --input-box: #CDCDCD;
  --theme: #A589DD;
  --other: #D6C5EF;
  --page: #0F0929;
}

*{
  font-family: "work sans", 'Inter', Times, serif;
  color: white;
}

.App{
  width: 100%;
  height: 100vh;
  margin-top: 0px;
  background-color: var(--background);
}

.a{
  text-decoration: none;
}

.head{
  border-bottom: solid;
  border-width: 1px;
  margin: 0px;
  border-color: var(--theme);
  font-weight: bold;
  height: 85px;
  background-color: transparent;
  
}

.landing-bck{
  background-color: black;
  width: 100vw; 
  height: 100vh;
  position: fixed;
}

.landing-header{
  background-color: var(--background);
  display: flex;
  justify-content: space-between;
  align-content: center;
  height: 70px;
  padding-top: 10px ;
}

.logo{
  margin-left: 10px;
  padding-top: 5px;
  font-weight: bold;
  width: 150px;
}


.help{
  font-size: 16px;
  height: 20px;
  padding: 12px;
  position: relative;
  left: 10vw;
}

.sign-in{
  align-self: right;
  position: relative;
  left: 23vw;
  padding: 12px;
}

.sign-up{
  width: 100px;
  height: 48px;
  border-radius: 14px;
  background-color: var(--theme);
  margin-right: 10px;
}

.dashboard, .logout{
  padding: 12px;
  position: relative;
  
}

.dashboard{
  left: -10vw;
  width: 120px;
}

.logout{
  width: 100px;
  height: 48px;
  margin-right: 10px;
}

.menu-icon{
  display: none;
}

.landing-character{
  height: 45vh;
  width: 40vw;
  background-color: transparent;
  display: block;
  position: relative;
  left: 30vw;
  top: 5%;
}

.landing-content{
  top: 12vh;
  position: relative;
}

.slogan{
  background-color: transparent;
  width: 80vw;
  height: 50px;
  display: inline-flex;
  position: relative;
  left: 13vw;
  top: 10%;
}

.slogan h1{
  color: var(--persian-blue);
  font-weight: bold;
  
}

.slogan h1 span{
  color: var(--theme);
}

.motto{
  position: relative;
  top: 1vh;
  left: 2vw;
}

.start-button, .contact-us{
  border-radius: 14px;
  border: none;
  width: 200px;
  height: 45px;
  position: relative;
  top: 3vh;
}

.start-button{
  background-color: var(--theme);
}

.contact-us{
  background-color: white;
  color: var(--theme);
  left: 5%;
}

.landing-bck a{
  background-color: transparent;
}

.login-img{
  position: relative;
  background-color: var(--other);
  width: 50vw;
  height: 100vh;
 
}

.loginImg{
  width: 30vw;
  position: relative;
  top: 38vh;
  background-color: transparent;

}

.loginBackground h1{
  top: 10px;
}

.loginBackground .landing-header{
  position: fixed;
  z-index: 100;
  width: 100vw;
}

.loginBackground{
  height: 100vh;
  width: 100vw;
  position: fixed;
}

.name, .explain, .input-box, .compose-box{
  margin-bottom: 40px;
  width: 40vw;
  border-radius: 12px;
  height: 55px;
  font-size: 15px;
  font-weight: bold;
  background-color: transparent;
}

.login{
  background-color: white;
  text-align: center;
  width: 50vw;
  display: inline-flex;
  justify-content: center;
  top: -100vh;
  position: relative;
  left: 25vw;
  align-items: center;
  height: 100vh;
}

.login h1{
  color: var(--persian-blue);
  font-weight: bold;
  margin-bottom: 120px;
}

.studentId, .pin{
  color: #2b2f2f;
  width: 100px;
  position: relative;
  left: 5vw;
  font-weight: bold;
}

.pin{
  width: 50px;
}

.forgotpin{
  left: 30%;
  position: relative;
  font-weight: lighter;
  color: var(--theme);
  margin-top: 10px;
}

.login form{
  width: 100%;
  border-radius: 10px;
  font-weight: bold;
  font-size: 17px;
  color: #2b2f2f;
  padding: 0px;
}

.login-button, .submit-button{
  width: 40vw;
  height: 55px;
  border-radius: 12px;
  background-color: var(--theme);
  border: none;
  margin-top: 30px;
}

.login-button:hover{
  transition: width 0.3s ease-in-out, height 0.3s ease-in-out, background-color 0.5s ease-in-out, color 0.3s ease-in-out;
  cursor: pointer;
  background-color: var(--other);
  width: 43vw;
  height: 57px;
}

nav{
  position: fixed;
  align-items: center;
  display: flex;
  margin: 0 auto;
  height: 85px;
  width: 100vw;
  font-weight: bold;
  background-color: var(--background);
  z-index: 50;
  border-bottom: solid;
  border-width: 1px;
  margin: 0px;
  border-color: var(--theme);
}

.account, .help-logo{
  width: 40px;
  height: 40px;
  background-color: var(--theme);
  right: 20px;
  position: relative;
  border-radius: 50%;
}

.help-logo{
  left: 35%;
}

.account p, .help-logo p{
  margin-top: 22%;
  margin-bottom: 0;
}


.head .menu{
  width: 18vw;
  height: 100vh;
  position: fixed;
  top: 0vh;
  z-index: 100;
}

.sidebar{
  width: 230px;
  height: 100vh;
  background-color: var(--page);
  border-right: solid;
  border-width: 1px;
  border-color: var(--theme);
  color: white;
}

.logo{
  position: relative;
  top: 20px;
}

.navbar .logo{
  top: 0px;
}

.sidebar a{
  color: white;
  position: relative;
   position: relative;
  width: 100%;
  height: 100%;
  border-radius: 8px;
  padding-top: 12px;
}

.li, .logout{
  position: relative;
  left: 5%;
  display: flex;
  color: white;
  top: 27vh;
  left: 10%;
  width: 185px;
  height: 45px;
  margin-top: 10px;
}

.logout{
  top: 55vh;
  padding: 0px;
}
 
.a:hover, a.active{
  color: var(--background);
  background-color: var(--other);
}

a.active svg path, .a:hover svg path, .logout-icon{
  fill: var(--background);
}

.sidebar-icon-white, .logout-icon{
  position: relative;
  top: -7%;
  left: -7%;
}

.body{
  position: relative;
  margin-left: 18vw;
  height: 90vh;
  background-color: var(--background);
}

.intro{
  position: relative;
  top: 6vh;
}

.intro p{
  width: 200px;
}

.body .alert{
  top: 6vh;
  left: 5vw;
  width: 74vw;
  padding: 0px;
  overflow: hidden;
  border-radius: 20px;
}

.alert .notification{
  border-collapse: collapse;
  border: solid;
  border-width: 5px;
  border-color: var(--theme);
  position: relative;
  width: 100%;
  border-radius: 20px;
  height: 70px;
}

.notification tr{
  border-bottom: solid;
  border-width: 1px;
  border-color: var(--theme);
  height: 20px; 
}

.notification td{
  height: 10px;

}

.body table p{
  width: 200px;
}

.reportform{
  margin-top: 130px;
}

.report form{
  box-shadow: -5px -5px 5px rgba(0, 0, 0, 0.3), 3px 3px 5px rgba(0, 0, 0, 0.3);
  background-color: rgba(83, 115, 163, 0.322);
  width: 50vw;
  padding: 10%;
  position: relative;
  left: 15%;
  margin-top: 90px;
  border-radius: 30px;
  padding-bottom: 4%;
  top: 20vh;
  height: 45vh;
  padding-top: 4%;
}

.report .name, 
.explain{
  background-color: rgba(255, 255, 255, 0.644);
}

.explain{
  height: 70px;
}

form{
  color: black;
  font-weight: bold;
  font-size: 16px;
}

.submit{
  height: 35px;
  width: 40%;
  border-radius: 50px;
  cursor: pointer;
  background-color: rgb(31, 70, 107);
  color: white;
  font-weight: bold;
  border: none;
  font-size: 15px;
  transition: width 0.3s ease, height 0.3s ease;
  margin-top: 20px;
}

.submit:hover{
  width: 50%;
  height: 40px;
}

.left{
  width: 40vw;
  position: relative;
  top: 6vh;
  margin-right: 40px;
}

.page-title{
  width: 170px;
  margin-left: 30px;
}

.page-title h3{
  font-weight: bold;
}

.level{
  position: relative;
  top: 30px;
  width: 100px;
  left: 45px;
}

.instructor{
  width: 80%;
  height: 20%;
  position: relative;
  left: 10%;
  top: 6vh;
  border-bottom: 1px solid;
  border-color: var(--theme);
  margin-bottom: 15px;
  max-height: 20vh;
}

.initials{
  width: 40px;
  height: 40px;
  margin-bottom: 0px;
  position: relative;
  background-color: var(--other);
  padding-top: 8px;
  border-radius: 50%;
  color: black;
  font-weight: bold;
}

.instructor-name, .course{
  width: 15vw;
  position: relative;
  left: 50px;
  top: -4vh;
  margin-bottom: 0px;
}

.course{
  left: 15px;
  font-weight: lighter;
  font-size: small;
}

.right{
  position: fixed;
  bottom: 8vh;
  width: 40vw;
  left: 58vw;
  background-color: var(--page);
  height: 80vh;
  padding-top: 7%;
  padding-left: 5%;
  padding-right: 5%;
  z-index: 0;
}

.lecturer{
 width: 300px;
 position: relative;
 
}

.right .level{
  position: relative;
  top: 1%;
  left: 1%;
}

.subject{
  position: relative;
  top: 10%;
}

.subject p{
  width: 180px;
}

.input-box, .compose-box{
  width: 30vw;
  border-color: white;
  border: solid;
  border-width: 1px;
}

.compose-box{
  height: 130px;
}

.submit-button{
  position: relative;
  top: 5%;
  width: 30vw;
}

.footer{
  background-color: var(--persian-blue);
  width: 100vw;
  height: 160px;
  position: fixed;
  bottom: 0%;
}

.location-icon, .mail-icon{
  width: 23px;
  position: relative;
  top: 35px;
  left: -40vw;
  display: inline;
}

.locate{
  width: 5vw;
  display: inline;
  position: relative;
  top: -10px;
  right: 8vw;
}

.location p{
  margin-bottom: 0px;
}

.location, .mail-footer {
  display: block;
  position: relative;
  width: 250px;
  left: 12vw;
}

.school{
  display: block;
}

.mail-icon{
  top: 13px;
  width: 22px;
}

.mail-footer{
top: -15px;
left: 11vw;
  
}

.info-footer{
  width: 50vw;
  display: inline;
  position: relative;
  top: -80px;
  left: -9vw;
}

.about, .cookies, 
.terms, .policy{
  display: inline;
  margin-right: 10px;
  cursor: pointer;
}

.socials{
  position: relative;
  top: -195px;
  left: 55vw;
  width: 200px;
}

.socials p{
  margin-bottom: 3px;
}

.icon{
  width: 20px;
  margin-left: 12px;
  cursor: pointer;
}

.subscription{
  width: 30vw;
  position: relative;
  left: 70vw;
  top: -135px;
}

.subscribe{
  font-weight: bold;
  left: 1vw;
  position: relative;
  width: 300px;
}

.subscribe-sub{
  position: relative;
  width: 250px;
  left: 1vw;
  font-size: smaller;
  top: 5px;
}

.line{
  border-bottom: 1px solid white;
  width: 23vw;
  position: relative;
  left: 2vw;
  top: 18px;
}

.email{
  font-size: x-small;
  position: relative;
  top: 17px;
  left: -9vw;
}

.send-icon{
  width: 15px;
  position: relative;
  left: 10vw;
  top: -13px;
  cursor: pointer;
}

@media screen and (max-width: 1200px){
  .navbar h1{
    top: -3px;
  }

  .nav-links{
    margin-top: 0px;

  }

  .slogan{
    left: 5vw;
    
  }

  .info-footer{
    left: -3vw;
    top: -13vh;
}

  .sign-in{
    left: 20vw;
  }
}

@media screen and (max-width: 1030px){
  .help, .sign-in, .sign-up, .dashboard, .landing-header .logout{
    display: none;
  }
  .menu-icon{
    display: flex;
    position: fixed;
    right:  40px;
    top: 15px;
  }

  .menuIcon, .closeIcon{
    width: 30px;
    cursor: pointer;
  }

  .menuIcon{
    display: flex;
  }

  .closeIcon{
    display: none;
    width: 20px;

  }

  .landing-character{
    left: 20vw;
    top: 5%;
    width: 60vw;
    z-index: 0;
  }

  .landing-content{
    position: relative;
    top: 12vh;
  }

  .slogan{
    background-color: transparent;
    width: 75vw;
    height: 18vh;
    display: flex;
    align-content: center;
    position: relative;
    left: 13%;
    top: 10;
  }

  .motto{
    width: 65vw;
    top: -5vh;
    left: 18%;
  }

  .start-button, .contact-us{
    width: 45vw;
    height: 50px;
    top: -3vh;
    left: 30%;
    display: block;
    margin-bottom: 2vh;
    text-decoration: none;
  }

  nav{
    text-align: center;
  }

  .nav-links{
    position: fixed;
    display: block;
    right: -100%;
    top: 88px;
    height: 100%;
    line-height: 350%;
    background-color:var(--persian-blue);
    padding: 0px;
    width: 100%;
    max-width: 300px;
    height: 100vh;
    min-height: 250px;
    margin-right: 0px;
    border-top-left-radius: 25px;
    z-index: 50;
    transition: right 0.5s;
  }

  .navbar div{
    display: none;
  }

  .navbar h1{
    top: 10px;
  }
 
  .li:hover{
    background-color:rgba(104, 128, 163, 0.507);
    border-radius: 10px;
    cursor: pointer;
  }


  .nav-links a:hover{
    color: white;
  }

  .landing-bck #show-menu:checked ~ .landing-header{
    background-color: var(--theme);
    height: 25vh;
    display: block;
    z-index: 100;
    transition: all 0.3s ease-in-out;

    
    .help, .sign-in, .sign-up, .dashboard, .logout{
      display: block;
    }

    .help{
      width: 60px;
      padding: 12px;
      left: 12px;
      height: 48px;
      transition: all 0.5s;
    }

    .sign-in, .logout{
      width: 100px;
      left: 0px;
      transition: all 0.5s;
    }

    .dashboard{
      width: 120px;
      left: 7px;
      transition: all 0.5s;
    }

    .logout{
      left: 4px;
    }

    .sign-up {
      background-color: transparent;
      border: none;
      transition: all 0.5s;
    }
  }

  .landing-bck #show-menu:checked ~ .menu-icon{
    .closeIcon{
      display: flex;
    }

    .menuIcon{
      display: none;
    }
  }

  .menu{
    left: -100%;
  }

  .navbar-menu{
    width: 30px;
    position: relative;
    top: 10px;
    cursor: pointer;
  }

  .head #show-menu:checked ~ .menu{
    left: 0%;
    transition: all 0.5s;
  }

  .body{
    margin-left: 0px;
  }

  .right{
    left: 50vw;
  }

  .rememberpass{
    margin-left: 0px;
  }

  .rememberme{
    margin-right: 0px;
  }

  .footer{
    height: 50%;
    z-index: 100;
  }

  .locate{
    display: block;
    left: 33vw;
  }

  .location-icon{
    left: -1vw;
    top: 40px;
  }

  .location{
    left: 4.5vw;
  }

  .mail-icon{
    width: 22px;
    left: -0.5vw;
    top: 10px;
  }

  .mail-footer{
    top: -15px;
    left: 4vw;
  }

  .info-footer{
    display: block;
    top: 0px;
    position: relative;
    left: 27vw;
  }

  .subscription{
    top: 20px;
    left: 37vw;
  }

  .subscribe{
    left: -2vw;
  }

  .subscribe-sub{
    left: -1.5vw;
  }

  .email{
    left: -9vw;
  }

  .line{
    width: 290px;
    left: -0.3vw;
  }

  .send-icon{
    left: 13vw;
  }

  .socials{
    top: 40px;
    left: 41vw;
  }

}

@media screen and (max-width: 700px){
  .landing-header {
    display: none;
  }

  .login-img{
    display: none;
  }

  .login{
    top: 0;
    width: 100vw;
    left: 0;
  }

  .login .name, .login-button{
    width: 80vw;
    height: 60px;
  }
  
  .studentId, .pin{
    left: 10vw;
  }

  .forgotpin{
    left: -30vw;
  }
}