@import url(https://cdn.linearicons.com/free/1.0.0/icon-font.min.css);
@import url('https://fonts.googleapis.com/css2?family=Days+One&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  --background: #0A0521;
  --input-box: #CDCDCD;
  --theme: #A589DD;
  --other: #D6C5EF;
  --page: #0F0929;
}

* {
  font-family: "work sans", 'Inter', Times, serif;
  color: white;
}

body {
  min-height: 100vh;
  min-width: 100vw;
  background-color: var(--background);
  margin-top: 85px;
  overflow-x: hidden;
}

.App {
  width: 100%;
  height: 100vh;
  margin-top: 0px;
  background-color: var(--background);
}

.body {
  margin-left: 250px;
  margin-top: 85px;
  height: inherit;
  width: inherit;
  background-color: var(--background);
  overflow: auto;
  display: flex; 
  flex-direction: column ;
}

.a, nav a {
  text-decoration: none;
}

.head {
  position: fixed;
  top: 0vh;
  z-index: 100;
}

.landing-bck {
  background-color: var(--background);
  width: 100vw;
  height: 100vh;
  position: fixed;
  z-index: 20;
}

.landing-header {
  background-color: var(--background);
  display: flex;
  justify-content: space-between;
  align-content: center;
  position: fixed;
  width: 100vw;
  height: 70px;
  padding-top: 10px;
}

.logo {
  margin-left: 10px;
  padding-top: 5px;
  font-weight: bold;
  width: 150px;
}

.help {
  font-size: 16px;
  height: 20px;
  padding: 12px;
  position: relative;
  left: 12vw;
}

.sign-in {
  align-self: right;
  position: relative;
  left: 23vw;
  padding: 12px;
}

.sign-up {
  width: 100px;
  height: 48px;
  border-radius: 14px;
  background-color: var(--theme);
  margin-right: 10px;
}

.header-dashboard,
.logout {
  padding: 12px;
  position: relative;

}

.header-dashboard {
  left: -10vw;
  width: 120px;
}

.logout {
  width: 100px;
  height: 48px;
  margin-right: 10px;
}

.landing-header .logo {
  top: 0px;
}

.menu-icon {
  display: none;
}

.landing-character {
  height: 45vh;
  width: 40vw;
  background-color: transparent;
  display: block;
  position: relative;
  left: 30vw;
  top: 15%;
}

.landing-content {
  top: 20vh;
  position: relative;
}

.slogan {
  background-color: transparent;
  width: 80vw;
  height: 50px;
 
  position: relative;
 
  margin: auto;
  top: 10%;
}

.slogan h1 {
  color: var(--persian-blue);
  font-weight: bold;

}

.slogan h1 span {
  color: var(--theme);
}

.motto {
  position: relative;
  top: 1vh;
  left: 2vw;
  margin-bottom: 10px;
}

.start-button,
.contact-us {
  border-radius: 14px;
  border: none;
  width: 200px;
  height: 45px;
  margin: auto;
  position: relative;
  top: 3vh;
}

.start-button {
  background-color: var(--theme);
}

.contact-us {
  background-color: white;
  color: var(--theme);
  left: 5%;
}

.landing-bck a {
  background-color: transparent;
}

.login-img {
  position: relative;
  background-color: var(--other);
  width: 50vw;
  height: 100vh;

}

.loginImg {
  width: 30vw;
  position: relative;
  top: 38vh;
  background-color: transparent;

}

.loginBackground h1 {
  top: 10px;
}

.loginBackground .landing-header {
  position: fixed;
  z-index: 20;
  width: 100vw;
}

.loginBackground {
  height: 100vh;
  width: 100vw;
  position: fixed;
}

.name,
.explain,
.input-box,
.compose-box {
  margin-bottom: 40px;
  width: 40vw;
  border-radius: 12px;
  height: 55px;
  font-size: 15px;
  font-weight: bold;
  background-color: transparent;
}

.login {
  background-color: white;
  text-align: center;
  width: 50vw;
  display: inline-flex;
  justify-content: center;
  top: -100vh;
  position: relative;
  left: 25vw;
  align-items: center;
  height: 100vh;
}

.login input{
  color: black;
  font-weight: normal;
}
.login h1 {
  color: var(--persian-blue);
  font-weight: bold;
  margin-bottom: 100px;
}

.studentId,
.pin {
  color: #2b2f2f;
  width: 100px;
  position: relative;
  left: 5vw;
  font-weight: bold;
}

.pin {
  width: 50px;
}

.forgotpin {
  left: 30%;
  position: relative;
  font-weight: lighter;
  color: var(--theme);
  margin-top: 10px;
}

.login form {
  width: 100%;
  border-radius: 10px;
  font-weight: bold;
  font-size: 17px;
  color: #2b2f2f;
  padding: 0px;
  position: relative;
  top: 8%;
  left: 0%;
}

.login-button,
.submit-button {
  width: 40vw;
  height: 55px;
  border-radius: 12px;
  background-color: var(--theme);
  border: none;
  margin-top: 30px;
  margin-bottom: 10%;
}

.login-button:hover,
.submit-button:hover {
  cursor: pointer;
  background-color: var(--other);
  width: 43vw;
  height: 57px;
  color: var(--background);
  transition: all 0.3s ease-in-out;
}

nav {
  position: fixed;
  align-items: center;
  display: flex;
  margin: 0 auto;
  height: 85px;
  width: 100vw;
  font-weight: bold;
  background-color: var(--background);
  z-index: 50;
  border-bottom: solid;
  border-width: 1px;
  border-color: var(--theme);
}

.account,
.help-logo {
  width: 40px;
  height: 40px;
  background-color: var(--theme);
  right: 20px;
  position: relative;
  border-radius: 50%;
}

.account {
  margin-right: 10px;
}

.help-logo {
  left: 35%;
}

.account p,
.help-logo p {
  margin-top: 22%;
  margin-bottom: 0;
}

.help-logo:active{
  background-color: var();
}
.head .navbar {
  position: fixed;
}

.head .menu {
  width: 18vw;
  height: 100vh;
  position: fixed;
  top: 0vh;
  z-index: 100;
}

.sidebar {
  width: 250px;
  height: 100vh;
  background-color: var(--page);
  border-right: solid;
  border-width: 1px;
  border-color: var(--theme);
  color: white;
}

.logo {
  position: relative;
  top: 20px;
}

.navbar .logo {
  top: 5px;
}

.sidebar a {
  color: white;
  position: relative;
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: 8px;
  padding-top: 12px;
  text-decoration: none;
}

.a-help span{
  position: relative;
  font-weight: bold;
  right: 5%;
  font-size: large;
}
.a-help p{
  position: relative;
  top: -13%;
}

.li,
.sidebar-logout {
  position: relative;
  left: 5%;
  display: flex;
  color: white;
  top: 27vh;
  left: 10%;
  width: 200px;
  height: 45px;
  margin-top: 10px;
}

.sidebar-logout {
  top: 50vh;
  padding: 0px;
}

.sidebar .a:hover,
.help-logo.active,
.help-logo:hover,
.sidebar a.active,
.a-help:hover {
  color: var(--background);
  background-color: var(--other);
}

.a-help:hover p, .a-help:hover span{
  color: var(--background);
}

.help-logo:hover p, 
.help-logo.active p, 
.a:hover p,
.a:hover span,
.a-help.active p,
.a-help.active span {
  color: var(--background);
}

.sidebar a.active svg path,
.sidebar a.a:hover svg path,
.logout-icon {
  fill: var(--background);
}

.overview-icon, .report-icon, .grades-icon, .instructors-icon,
.logout-icon, a.help span {
  position: relative;
  top: -7%;
  left: -7%;
}

.overview-icon{
  left: -9%;
}

.report-icon{
  left: -14%;
}

.instructors-icon{
  left: -3%;
  margin-right: 10px;
}

.grades-icon{
  left: -13%;
}

.a-help{
  display: none;
  
}

.intro {
  position: relative;
  top: 6vh;
}

.intro p {
  width: 200px;
  position: relative;
  left: 10%;
}

.body .alert, .reference {
  top: 6vh;

  width: 75%;
  padding: 0px;
  margin-bottom: 50px;
  margin: auto;
  overflow: visible;
}

.alert .notification, .reference .notification {
  position: relative;
  width: 98%;
  height: 100%;
  border: 1px solid var(--theme);
  border-collapse: separate;
  border-spacing: 0;
  border-radius: 20px;
  overflow: hidden;
  margin-top: 20px;
}


.notification tr {
  height: 50px;
  
}

.notification td, .notification th {
  height: 10px;
  border-bottom: 1px solid var(--theme);

}

.notification a {
  text-decoration: none;
  color: white;
}

.notification-title {
  margin-bottom: 0px;
}

.notification-bell{
  width: 40px;
  height: 40px;
  background-color: var(--theme);
  border-radius: 50%;
  position: absolute;
  left: -5px;
  top: 5px;
}

.notificationIcon{
  width: 25px;
  position: relative;
  top: 15%;
}

.overview{
  margin: 100px auto;
  width: 90%;
  position: relative;
 
}

.overview h4{
  margin-bottom: 20px;
  position: relative;
  
  width: 90%;
}

.custom-tooltip{
  width: 90px;
  background-color: var(--input-box);
  
}

.custom-tooltip .label{
  font-size: small;
  margin-bottom: 3px;
}

.semester-overview{
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin-left: 5%;
  margin-top: 20px;
}

.semester-overview span{
  font-weight: bold;
  margin-right: 5px;
}

.overview .content {
  border: 1px solid var(--theme);
  background-color: var(--page);
  margin: auto;
  border-radius: 10px;
  position: relative;
  margin-top: 20px;
  width: 80%;
}

.bar-chart{
  margin: 30px auto;
  margin-left: 20px;
  position: relative;
  left: 5%;
}

.reference{
  top: 10%;
  position: relative;
  width: 75%;
  margin: auto;
  left: 0%;
  margin-bottom: 30px;
}

.reference h4{
  position: relative;
  left: -3%;
  margin-bottom: 30px;
}

.reportform {
  width: 50vw;
  position: relative;
  left: 20%;
  height: 90vh;
  top: 10vh;
  margin-bottom: 3vh;
}

.reportform h4 {
  width: 100%;
  margin-bottom: 5%;
}

.reportform .submit-button {
  top: 0%;
  margin-bottom: 5%;
}

.reportform .submit-button:hover {
  left: 0%;
}

.reportform p {
  width: 50%;
  margin: auto;
  text-align: left;
  margin-bottom: 8px;
}

.reportform .input-box,
.reportform .compose-box {
  margin-bottom: 5%;
}

.instructor-page .page{
  display: flex;
  flex-direction: row;
  margin-top: 30px;
}

.left {
  width: 50%;
  flex-direction: row;
  margin-right: 40px;
  height: 95vh;
  margin-top: 30px;
}

.page-title {
  width: 360px;
  position: relative;
  left: 10%;
}

.page-title h3 {
  font-weight: bold;
}

.level {
  position: relative;
  top: 30px;
  width: 100px;
  left: 45px;
}

.instructor {
  width: 80%;
  height: 13%;
  position: relative;
  left: 10%;
  top: 6vh;
  border-bottom: 1px solid;
  border-color: var(--theme);
  margin-bottom: 15px;
  max-height: 20vh;
}

.initials {
  width: 40px;
  height: 40px;
  margin-bottom: 0px;
  position: relative;
  background-color: var(--other);
  padding-top: 8px;
  border-radius: 50%;
  color: black;
  font-weight: bold;
}

.instructor-name, .course {
  text-align: left;
  position: relative;
  font-weight: lighter;
  margin: auto;
  top: -4vh;
  left: 0px;
  width: 70%;
  font-size: small;
  margin-top: 10px;
}

.right {
  flex: 0.5;
  background-color: var(--page);
  height: 90vh;
  padding: 6% 5%;
  position: relative;
  
}

.lecturer {
  width: 300px;
  position: relative;

}

.right .level {
  position: relative;
  top: 1%;
  left: 1%;
}

.subject {
  position: relative;
  top: 10%;
}

.subject p {
  margin: auto;
  text-align: left;
  margin-bottom: 15px;
  width: 90%;
}

.input-box,
.compose-box {
  width: 120%;
  border-color: white;
  border: solid;
  border-width: 1px;
  font-weight: lighter;
}

.compose-box {
  height: 130px;
}

.submit-button {
  position: relative;
  top: 15%;
  width: 85%;
  left: 8%;
  margin: auto;
}

.submit-button:hover {
  width: 90%;
  cursor: pointer;
}

.year{
  display: flex;
  position: relative;
  width: 100%;
  justify-content: space-evenly;
  margin-top: 30px;
  height: 50px;
  flex: 1;
}

.content{
  margin-top: 20px;
  display: none;
}

.active-content{
  display: block;
}

.tabs{
  width: 30%;
  height: 30px;
  border: none;
  background-color: transparent;
}

.active-tabs{
  border-top: 2px solid var(--theme);
}

.active-tabs::before{
  transform: translateX(-50%);
}

.first{
  flex: 1;
  margin-top: 30px;
  margin-bottom: 50px;
}

.semester{
  width: 20%;
}

.grade-report{
  align-items: center;
  border: none;
  overflow: hidden;
  position: relative;
  width: 100%;
}

.grade-report tr{
 border-bottom: 1px solid var(--theme);
 height: 50px;
 width: 100%;
}

.grade-report td{
 width: 30%; 
}

.grade-report .th{
  font-weight: bold;
}

.blank{
  font-weight: bold;
  font-size: larger;
  margin-top: 60px;
}

.help-page-loggedin{
  height: 100%;
}

.top{
  margin: auto;
  margin-top: 40px;
}

.search-bar{
  margin-top: 20px;
  width: 53vw;
  height: 50px;
  background-color: transparent;
  border: 1px solid var(--theme);
  border-radius: 40px;
}

.search-icon{
  width: 25px;
  position: relative;
  right: 45px;
  bottom: 3px;
}

input{
  outline: none;
  padding-left: 25px;
  color: white;
}

.help-box{
  position: relative;
  bottom: 0;
  margin-bottom: 50px;
  top: 70px;
}

.help-box h4{
  position: relative;
  width: 55%;
  font-weight: bold;
  margin: auto;
  text-align: left;
}

.contact{
  position: relative;
  height: 110%;
  top: 5%;
  width: 80%;
  border: 1px solid var(--theme);
  border-radius: 20px;
  margin: auto;
  padding: 5% 12%;
  margin-bottom: 10%;
  max-width: 60vw;
  margin-top: 1%;
}

.mail {
 display: flex;
 justify-content: space-evenly;
 margin-top: 5%;
 width: 70%;
}

.contact .subject p{
  margin-top: 5%;
  position: relative;
  left: 5%;
}

.contact .subject input{
  width: 90%;
}

.footer {
  background-color: var(--persian-blue);
  width: 100vw;
  height: 160px;
  position: fixed;
  bottom: 0%;
}

.phone{
  width: 100%;
  position: relative;
}

.phone-num{
  position: relative;
  left: -20px;
}

.location-icon,
.phone-icon{
  width: 23px;
  position: relative;
  top: 35px;
  left: -130px;
}

.locate {
  width: 100%;
  position: relative;
  right: 5%;
  top: 20px;
}

.location {
  display: block;
  position: relative;
  width: 80%;
  left: 15%;
}

.contact-header{
  position: relative;
  top: 5%;
}

.contact .submit-button{
  margin-bottom: 20px;
}

.school {
  display: block;
}

.send-icon {
  width: 15px;
  position: relative;
  left: 10vw;
  top: -13px;
  cursor: pointer;
}

.phone-icon {
  width: 22px;
  top: 25px;
}

.mail-footer{
  left: 85px;
}

.help-page{
  background-color: var(--background);
  padding-bottom: 5px;
}

.help-page .body{
  margin: 0;
  height: 100%;
}

.help-page .contact{
  margin-bottom: 5%;
}

.help-page .contact-header{
  margin-top: 50px;
  margin-bottom: 7%;
}

.socials{
  position: relative;
  top: 25px;
}

.socials p{
  position: relative;
  top: 43px;
  right: 120px;
}

.icon, .linkedIn-icon {
  width: 20px;
  margin-left: 12px;
  cursor: pointer;
}

.linkedIn-icon{
  width: 25px;
  margin-bottom: 5px;
}

.info-footer {
  width: 50vw;
  display: inline;
  position: relative;
  top: -80px;
  left: -9vw;
}

.about,
.cookies,
.terms,
.policy {
  display: inline;
  margin-right: 10px;
  cursor: pointer;
}

.subscription {
  width: 30vw;
  position: relative;
  left: 70vw;
  top: -135px;
}

.subscribe {
  font-weight: bold;
  left: 1vw;
  position: relative;
  width: 300px;
}

.subscribe-sub {
  position: relative;
  width: 250px;
  left: 1vw;
  font-size: smaller;
  top: 5px;
}

.line {
  border-bottom: 1px solid white;
  width: 23vw;
  position: relative;
  left: 2vw;
  top: 18px;
}

.email {
  font-size: x-small;
  position: relative;
  top: 17px;
  left: -9vw;
}



@media screen and (max-width: 1200px) {
  .bar-chart{
    left: -7%;
  }


  .slogan {
    left: 5vw;
  }

  .info-footer {
    left: -3vw;
    top: -13vh;
  }

  .sign-in {
    left: 20vw;
  }

  .locate{
    left: 0px;
    width: 100%;
  }

  .phone{
    width: 100%;
    left: 30px;
  }

  .socials {
    width: 100%;
    top: 20px;
  }
}

@media screen and (max-width: 1030px) {

  .help,
  .sign-in,
  .sign-up,
  .header-dashboard,
   .logout {
    display: none;
  }

  .navbar .help-logo,
  .account {
    display: none;
  }
  

  .menu-icon {
    display: flex;
    position: fixed;
    right: 40px;
    top: 15px;
    z-index: 50;
  }

  .navbar .menu-icon {
    position: relative;
    top: -5px;
  }

  .a-help{
    display: block;
  }

  .a-help span{
    position: relative;
    left: -15%;
  }
  .menuIcon,
  .closeIcon {
    width: 30px;
    cursor: pointer;
  }

  .menuIcon {
    display: flex;
  }

  .closeIcon {
    z-index: 20;
    display: none;
    width: 20px;
  }

  .landing-character {
    left: 20vw;
    top: 5%;
    width: 60vw;
    z-index: 0;
  }

  .landing-content {
    position: relative;
    top: 12vh;
  }

  .slogan {
    background-color: transparent;
    width: 75vw;
    height: 18vh;
    display: flex;
    align-content: center;
    position: relative;
    left: 0%;
    top: 10;
  }

  .motto {
    width: 65vw;
    top: -5vh;
    left: 18%;
  }

  .start-button,
  .contact-us {
    width: 45vw;
    height: 50px;
    top: -3vh;
    left: 0%;
    display: block;
    margin-bottom: 2vh;
    text-decoration: none;
  }

  nav {
    text-align: center;
    z-index: 20;
  }

  .li:hover {
    background-color: rgba(104, 128, 163, 0.507);
    border-radius: 10px;
    cursor: pointer;
  }

  .landing-bck #show-menu:checked~.landing-header,
  .loginBackground #show-menu:checked~.landing-header {
    background-color: var(--theme);
    height: 200px;
    display: block;
    z-index: 20;
    transition: all 0.3s ease-in-out;


    .help,
    .sign-in,
    .sign-up,
    .header-dashboard,
    .logout {
      display: block;
      transition: all 0.4s ease-in-out;
    }

    .help {
      width: 60px;
      padding: 12px;
      left: 12px;
      height: 48px;
      transition: all 0.5s;
    }

    .sign-in,
    .logout {
      width: 100px;
      left: 0px;
      transition: all 0.5s;
    }

    .header-dashboard {
      width: 120px;
      left: 7px;
      transition: all 0.5s;
    }

    .logout {
      left: 4px;
    }

    .sign-up {
      background-color: transparent;
      border: none;
      transition: all 0.5s;
    }
  }

  .landing-bck #show-menu:checked~.menu-icon,
  .loginBackground #show-menu:checked~.menu-icon {
    .closeIcon {
      display: flex;
    }

    .menuIcon {
      display: none;
    }
  }

  .head #show-menu:not(:checked)~.menu {
    left: -100%;
    transition: all 0.5s;
  }

  .navbar-menu {
    width: 30px;
    position: relative;
    top: 10px;
    cursor: pointer;
  }

  .head #show-menu:checked~.menu {
    left: 0%;
    transition: all 0.5s;
  }

  .body {
    margin-left: 0px;
  }

  .intro{
    position: relative;
    left: -10%;
  }

  .bar-chart{
    left: 0%;
    margin-left: 0px;
  }

  .overview .content{
    width: 90%;
  }

 .body .alert, .reference{
  margin: auto;
  width: 80%;
  margin-bottom: 40px;
 }

  .reference{
    left: 0%;
  }

  .input-box, .compose-box{
    width: 60vw;
    margin-bottom: 35px;
  }

  .course{
    width: 60%;
  }
  .contact{
    margin-top: 20px;
    margin-bottom: 100px;
  }

  .reportform p{
    width: 80%;
  }

  .submit-button{
    left: 0%;
    margin: auto;
    top: 12%;
    margin-top: 20px;
  }
  
  .mail{
    width: 100%;
    margin-bottom: 10%;
    margin-top: 10%;
  }
  .footer {
    height: 50%;
    z-index: 100;
  }

  .info-footer {
    display: block;
    top: 0px;
    position: relative;
    left: 27vw;
  }

  .subscription {
    top: 20px;
    left: 37vw;
  }

  .subscribe {
    left: -2vw;
  }

  .subscribe-sub {
    left: -1.5vw;
  }

  .email {
    left: -9vw;
  }

  .line {
    width: 290px;
    left: -0.3vw;
  }

  .send-icon {
    left: 13vw;
  }

  .socials {
    top: 20px;
    left: 15%;
  }

  .contact .submit-button{
    left: 0%;
  }

}

@media screen and (max-width: 700px) {
  .landing-header {
    display: none;
  }

  .login-img {
    display: none;
  }

  .overview{
    width: 100%;
  }

  .bar-chart{
    left: -5%;
  }

  .login {
    top: 0;
    width: 100vw;
    left: 0;
  }

  .login form{
    top: 0px;
  }

  .login form h1{
    font-size: 39px;
  }

  .login .name,
  .login-button {
    width: 80vw;
    height: 60px;
  }

  .login-button:hover{
    width: 85vw;
    height: 65px;
  }

  .reportform {
    position: relative;
    left: 0%;
    width: 80vw;
    margin: auto;
  }

  .reportform h4{
    width: 100%;
    position: relative;
    text-align: center;
    margin-bottom: 20px;
  }

  .reportform .submit-button{
    left: 0%;
  }

  
  .reportform .input-box, .reportform .compose-box{
    margin: auto;
    margin-bottom: 10px;
  }

  .studentId,
  .pin {
    left: 10vw;
  }

  .forgotpin {
    left: -30vw;
  }

  .contact{
    max-width: 95%;
    height: 150%;
  }

  
  .locate{
    width: 100%;
    left: 0px;
  }

  .phone{
    top: -20%;
  }

  .socials{
    left: 10%;
  }
}

@media screen and (max-width: 435px){
  .slogan{
    left: 0%;
    margin-bottom: 0px;
  }
  .notification-title{
    width: 80%;
    margin-left: 20px;
  }
  .reportform p{
    width: 70%;
  }

  .reportform .input-box, .reportform .compose-box{
    margin-bottom: 25px;
  }

  .mail h6{
    margin-right: 10px;

  }

  .socials{
    margin-bottom: 30px;
    left: 20%;
  }

  .location-icon{
    left: -55%;
  }

  .help-box h4{
    left: -8%;
  }

  .instructor-page .page{
    display: none;
  }

  .instructors-mobile{
    height: 100vh;
    width: 100vw;
    overflow-x: hidden;
  }

  .instructor{
    width: 100%;
    height: 90%;
    margin: 0px;
    border: none;
    top: 0px;
    left: 5px;
    margin-top: 5%;
  }

  .instructor-name{
    width: 100%;
    top: -40px;
    left: 18%;
  }

  .course{
    position: relative;
    left: 18%;
    width: 100%;
    margin-top: 10px;
  }

  .page-title{
    margin-top: 30px;
    margin-bottom: 30px;
    left: 3%;
  }

}